@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Baloo+Bhai+2:wght@400..800&family=Berkshire+Swash&family=Doppio+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&family=Titan+One&family=Tourney:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu";
  color: #fff;
}

section {
  // padding: 15rem 0;
}

header {
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    cursor: pointer;

    h2 {
      font-size: 2.5rem;
    }

    img {
      width: 6rem;
    }
  }

  .navbar-content {
    display: flex;
    column-gap: 3.5rem;

    a {
      font-size: 2.4rem;
      font-family: "Poppins";
      color: #fff;
    }
  }

  .right-icons {
    display: flex;
    column-gap: 2.5rem;

    i {
      font-size: 2.4rem;
    }
  }
}

.home {
  padding: 0;

  .box {
    min-height: 100vh;
    background: url("/assets/pic-10.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
      width: 70rem;
      padding: 0 4rem;

      h1 {
        font-size: 5rem;
        font-family: "Doppio One";
        margin-bottom: 2.5rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }
}
